.existing-camps {
    display: flex;
}

/* Sidebar styles (no changes) */
.sidebar {
    width: 250px;
    background-color: black;
    position: sticky;
    top: 0;
}

.main-content {
    margin-left: 20px;
    flex: 1;
}

.existing-camps>*:not(.sidebar) {
    margin-left: 20px;
    /* Adjust as needed */
    flex: 2;
}


.camp-card-container {
    /* Style for the new container div */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.camp-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 30vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;

}

.camp-card:hover {
    transform: scale(1.02);
}

/* Style the filter container */
.filter-container {
    display: flex;
    align-items: center;
    width: 20vh;
    justify-content: flex-end;
    margin-bottom: 20px;
}


.filter-container label {
    margin-right: 10px;
    /* Add space between label and filter */
}

.filter-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-slideshow {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.image-slideshow img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slideshow img.active {
    display: block;
}

.camp-card:after {
    content: "";
    display: table;
    clear: both;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px;
    z-index: 1;

}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.prev {
    left: 0;
    transform: translateY(-50%);
    transform: translateX(-48%);

}

.next {
    right: 0;
    transform: translateY(-50%);
    transform: translateX(48%);
}