/* UpdateDelete.css */

.update-delete {
    display: flex;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.existing-images {
    margin-bottom: 20px;
}

.camp-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}